*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$mainBlck:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;
body{
    background: $mainWhite;
    color: $mainBlck;
    font-family: 'Open Sans', sans-serif;
}